@{
    ViewBag.Title = "Home Page";
}
<h2>Basic AJAX Example</h2>
<button id="fetchMessage">Fetch Message</button>
<div id="result"></div>

@*@section scripts {
   
    <script>
        $(document).ready(function () {
            $("#fetchMessage").click(function () {
                $.ajax({
                    url: '@Url.Action("GetMessage", "Home")',
                    type: 'GET',
                    success: function (data) {
                        $("#result").html(`<p>${data.Text} at ${data.Timestamp}</p>`);
                    },
                    error: function (xhr, status, error) {
                        $("#result").html("<p>Error occurred!</p>");
                    }
                });
            });
        });
    </script>
}*@

<div>
    <h2>Unobtrusive AJAX Form</h2>
    @using (Ajax.BeginForm("SubmitForm", "Home", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure",
        UpdateTargetId = "formResult"
    }))
    {
        <div>
            <label>Name:</label>
            <input type="text" name="name" required />
        </div>
        <div>
            <label>Age:</label>
            <input type="number" name="age" required />
        </div>
        <button type="submit">Submit</button>
    }
    <div id="formResult"></div>

    @section scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script>
            function onSuccess(data) {
                $("#formResult").html(`<p>${data.Message}</p>`);
            }

            function onFailure() {
                $("#formResult").html("<p>Form submission failed!</p>");
            }
        </script>
    }
</div>