
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<form method="post" action="/Account/Login">
    <label>UserName: </label>
    <input type="text" name="username" /><br />
    <label> Password:</label>
    <input type="password" name="password" /><br />
    <input  type="submit" value="Login"/>
</form>

<p style="color:red;"> @ViewBag.message</p>


