@{
    ViewBag.Title = "Contact";


    var name = ViewData["Name"];
    var age = ViewData["Age"];
    var CityName = TempData["CityName"];
    var zipcode = TempData["zipcode"];
    var msg = ViewBag.msg;
   
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@name
@age
@msg
@CityName
@zipcode

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>