@{
    ViewBag.Title = "Home Page";

    var name = ViewData["Name"];
    var age = ViewData["Age"];

    var msg = ViewBag.msg;
    var msg2 = TempData["CityName"];
    var emp = ViewBag.Employee;

}


<div class="">

    <label>Create Employee</label>

    @using (Html.BeginForm("postEmployee", "Home", FormMethod.Post))
    {
        <div>
            <label for="Id">ID:</label>
            <input type="text" name="ID" /> <br />


            <label for="Id">Name:</label>
            <input type="text" name="Name" /><br />

            <label for="Id">Salary:</label>
            <input type="text" name="Salary" /><br />

            <label for="Id">Department:</label>
            <input type="text" name="Department" /><br />

            <input type="submit" value="Submit" />

        </div>

    }

</div>

